<div class="row">
    <div class="col-xs-6">
    <form name="formEntriTransaksi">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pilih Customer
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div 
                        class="form-group" 
                        ng-class="{
                            'has-error':formEntriTransaksi.customer.$invalid, 
                            'has-success':formEntriTransaksi.customer.$valid
                            }"
                        >
                        <div class="col-sm-4">
                            <label for="customer" class="control-label">Customer</label>
                        </div>
                        <div class="col-sm-8">
                            <select 
                                class="form-control" 
                                name="customer" 
                                ng-model="currentEntryTransaction.customer.id" 
                                required>
                                <option 
                                    ng-model="selectedCustomer" 
                                    ng-repeat="customer in customers" 
                                    value="{{customer.id}}">
                                    {{customer.nama}}
                                </option>
                            </select>
                            <span 
                                style="
                                    float:right; 
                                    color:white" 
                                class="
                                    help-block
                                    label
                                    label-danger" 
                                ng-show="formEntriTransaksi.customer.$error.required">
                                This Field is Required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Input Transaksi
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div 
                        class="form-group" 
                        ng-class="{
                            'has-error':formEntriTransaksi.nilaiTransaksi.$invalid, 
                            'has-success':formEntriTransaksi.nilaiTransaksi.$valid
                            }"
                        >
                        <div class="col-sm-4">
                            <label for="nilaiTransaksi" class="control-label">Nilai Transaksi</label>
                        </div>
                        <div class="col-sm-8">
                            <input 
                                name="nilaiTransaksi" 
                                type="text" 
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                class="form-control" 
                                ng-model="currentEntryTransaction.nilaiTransaksi" 
                                auto-complete="off" 
                                required />
                            <span 
                                style="
                                    float:right;
                                    color:white" 
                                class="
                                    help-block
                                    label
                                    label-danger" 
                                ng-show="formEntriTransaksi.nilaiTransaksi.$error.required">
                                This Field is Required
                            </span>
                        </div>
                    </div>
                    <div 
                        class="form-group"
                        ng-class="{
                            'has-error':formEntriTransaksi.keterangan.$invalid,
                            'has-success':formEntriTransaksi.keterangan.$valid
                            }"
                        >
                        <div class="col-sm-4">
                            <label for="keterangan" class="control-label">Keterangan</label>
                        </div>
                        <div class="col-sm-8">
                            <input
                                name="keterangan"
                                type="text"
                                class="form-control"
                                ng-model="currentEntryTransaction.keterangan"
                                required />
                            <span
                                style="
                                    float:right;
                                    color:white"
                                class="
                                    help-block
                                    label
                                    label-danger" 
                                ng-show="formEntriTransaksi.keterangan.$error.required">
                                This Field is Required
                            </span>
                        </div>
                    </div>
                    <div align="right">
                        <button 
                            class="
                                btn
                                btn-primary" 
                            ng-click="save(currentEntryTransaction)"
                            ng-disabled="isClean() || formEntriTransaksi.$invalid">
                            Save
                        </button>
                        <button class="btn btn-default" ng-click="clearForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <div class="col-xs-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Customer
                    </th>
                    <th>
                        Nilai Transaksi
                    </th>
                    <th>
                        Tanggal Transaksi
                    </th>
                    <th>
                        Lunas
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in transactions">
                    <td>{{t.customer.nama}}</td>
                    <td>{{t.nilaiTransaksi}}</td>
                    <td>{{ t.tanggal | date : 'dd MMMM yyyy'}}</td>
                    <td>{{t.lunas}}</td>
                    <td class="col-xs-1" style="text-align : center">
                        <a 
                            style="text-decoration : none" 
                            class="glyphicon glyphicon-edit" 
                            ng-click="edit(t)">
                        </a>
                        <a 
                            style="text-decoration : none"
                            class="glyphicon glyphicon-remove"
                            ng-click="delete(t)">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box-footer clearfix">
            <div align="center">
                <pagination 
                    total-items="paging.totalItems" 
                    ng-model="paging.currentPage"
                    ng-change="showUsers()"
                    class="pagination-sm"
                    items-per-page="paging.itemsPerPage"
                    boundary-links="true"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;">
                </pagination>
            </div>
        </div>
    </div>
</div>